h1 {
    /* font-family: "Brush Script MT", cursive; */
    /* color: aliceblue; */
  }
  
  /* body {
    background-image: url("../../assets/img/coffee-beans-dark-background-top-view-coffee-concept.jpg");
    background-color: rgba(0, 0, 0, 0.856);
    background-size: 100%;
  } */
  
  /* label {
    color: aliceblue;
  } */
  
  button {
    margin-top: 10px;
  }
  a {
    margin-top: 5px;
    height: 40px;
    text-decoration: none;
    color: aliceblue;  }
  a:hover{
    text-decoration: none;
    color: aliceblue;  } 
  .category {
    background-color: rgb(101, 72, 230);
  }
  h1,table,th,td{
    text-align: center;
  }
  
  
  a.nav-item.nav-link {
    font-family: 'Montserrat';
}